<section id="section02">
  <div class="container-fluid">
      <div class="sectionheader">Projects</div>
      <div class="row sectionsplitter2">
          <div class="sectiontext2">
            View more of my projects on <a href="http://github.com/xhpwn" target="_blank">GitHub</a>.
          </div>
      </div>
      <div class="row sectionsplitter">
        <div class="col-md-4">
          <div class="epione"><a [routerLink]="['/epione']">Epione</a></div>
            <div class="project-sub">Revolutionizing Healthcare<br><i><b>Android</b> and <b>iOS</b> app.</i></div>
        </div>
        <div class="col-md-4">
          <div class="wdc"><a href="https://github.com/xhpwn/Moviesel" target="_blank">Moviesel</a></div>
            <div class="project-sub">Movie listing and rating app<br><i><b>iOS</b> and <b>Watchkit</b> app.</i></div>
        </div>
        <div class="col-md-4">
          <div class="datonate"><a href="https://github.com/Fall2017CS307" target="_blank">Datonate</a></div>
            <div class="project-sub">ML dataset annotation<br><i><b>React Native (iOS, Android)</b> Javascript mobile app.</i></div>
        </div>
    </div>
    <div class="row sectionsplitter">
        <div class="col-md-4">
          <div class="acidrain"><a href="http://github.com/xhpwn/tipster" target="_blank">Tipster</a></div>
            <div class="project-sub">Tip calculator<br><i><b>iOS</b> app.</i></div>
        </div>
            <div class="col-md-4">
              <div class="proxyhunt"><a href="https://github.com/agrawa49/ProxyHunt" target="_blank">ProxyHunt</a></div>
                <div class="project-sub">Uber for iClicker<br><i><b>Android</b> app (Java).</i></div>
            </div>
    <div class="col-md-4">
      <div class="hacksaw"><a href="http://saxena.xyz/HackSaw" target="_blank">HackSaw</a></div>
        <div class="project-sub">Encryption Algorithm<br><i><b>Ruby</b> scripting.</i></div>
    </div>
  </div>
    <div class="row sectionsplitter">
      <div class="col-md-4">
        <div class="wdc"><a href="http://purduewebdev.club">WDC</a></div>
          <div class="project-sub">Purdue's official Web Dev Club<br><i><b>Co-founder</b>, <b>Webmaster</b>, <b>Lead instructor</b></i></div>
      </div>
      <div class="col-md-4">
        <div class="pulse"><a href="https://github.com/xhpwn/Pulse" target="_blank">Pulse</a></div>
          <div class="project-sub">Graphical text editor<br><i><b>Java</b> Desktop Software.</i></div>
      </div>
          <div class="col-md-4">
            <div class="acidrain"><a href="http://saxena.xyz/Ac1dRa1n" target="_blank">AcidRain</a></div>
              <div class="project-sub">Customized password generator<br><i><b>Ruby</b> Scripting.</i></div>
          </div>
  </div>
    <div class="row sectionsplitter3">
        <div class="sectiontext3">
          Click <a [routerLink]="['/home']">here</a> to go back to the home page.
        </div>
    </div>
  </div>
  </section>

  <section id="section04" class="footer">
	© &nbsp;2018 &nbsp;Developed by Anubhav Saxena&nbsp;&nbsp;
  |&nbsp;&nbsp; Using <a href="https://angular.io" target="_blank">
    <img src="assets/imgs/angular2.png" id="footerimg"></a>
</section>
