<section id="section02">
  <div class="container-fluid">
      <div class="sectionheader">Projects</div>
      <div class="row sectionsplitter">
        <div class="col-md-4">
          <div class="epione">Epione</div>
            <div class="project-sub">Revolutionizing Healthcare<br><i>An Android and iOS app.</i></div>
        </div>
        <div class="col-md-4">
          <div class="hacksaw"><a href="http://saxena.xyz/HackSaw" target="_blank">HackSaw</a></div>
            <div class="project-sub">Encryption Algorithm<br><i>A Ruby script.</i></div>
        </div>
        <div class="col-md-4">
          <div class="datonate">Datonate</div>
            <div class="project-sub">ML dataset annotation<br><i>An Android app.</i></div>
        </div>
    </div>
    <div class="row sectionsplitter">
      <div class="col-md-4">
        <div class="acidrain"><a href="http://saxena.xyz/Ac1dRa1n" target="_blank">AcidRain</a></div>
          <div class="project-sub">Customized password generator<br><i>A Ruby script.</i></div>
      </div>
      <div class="col-md-4">
        <div class="proxyhunt"><a href="http://github.com/xhpwn/ProxyHunt" target="_blank">ProxyHunt</a></div>
          <div class="project-sub">Uber for iClicker<br><i>An Android app.</i></div>
      </div>
      <div class="col-md-4">
        <div class="acidrain"><a href="http://saxena.xyz/Ac1dRa1n" target="_blank">AcidRain</a></div>
          <div class="project-sub">Customized password generator</div>
      </div>
  </div>
  <div class="row sectionsplitter2">
      <div class="sectiontext2">
        More projects on <a href="http://github.com/xhpwn" target="_blank">GitHub</a>.
      </div>
  </div>
    <div class="row sectionsplitter3">
        <div class="sectiontext3">
          Click <a [routerLink]="['/home']">here</a> to go back to the home page.
        </div>
    </div>
  </div>
  </section>

  <section id="section04" class="footer">
	©&nbsp;&nbsp;Anubhav Saxena &nbsp;2017 &nbsp;&nbsp;|
  &nbsp;&nbsp;Written in <a href="https://angular.io" target="_blank">
    <img src="assets/imgs/angular2.png" id="footerimg"></a>
</section>
