<section id="section02">
  <div class="container-fluid">
      <div class="sectionheader">Creations</div>
      <div class="row sectionsplitter">
        <div class="col-md-6">
          My Music<div class="music">thespicychicken
            on <a href="http://soundcloud.com/thespicychicken" target="_blank">SoundCloud</a></div>
        </div>
        <div class="col-md-6">
        My Photography<div class="photog">View my photography <a href="https://photos.app.goo.gl/d3myIAxYdhGKEC5g1" target="_blank">here</a></div>
        </div>
    </div>
    <div class="row sectionsplitter2">
        <div class="sectiontext2">
          Click <a [routerLink]="['/home']">here</a> to go back to the home page.
        </div>
    </div>
  </div>
  </section>

  <section id="section04" class="footer">
	©&nbsp;&nbsp;Anubhav Saxena &nbsp;2017 &nbsp;&nbsp;|
  &nbsp;&nbsp;Written in <a href="https://angular.io" target="_blank">
    <img src="assets/imgs/angular2.png" id="footerimg"></a>
</section>
