<section id="section02">
  <div class="container">
      <div class="sectionheader">Error</div>
    <div class="row sectionsplitter">
      <img src="assets/imgs/error.png" class="errorimage">
        <div class="sectiontext">
          Access Denied
        </div>
        <div class="sectiontext8">
          Your IP has been sent for reviewing
          </div>
        <div class="sectiontext2">
          You can email me at <a href="mailto:saxena20@purdue?subject=Resume Request">saxena20@purdue.edu</a>
          for my resume instead.
        </div>
        <div class="sectiontext2">
          Click <a [routerLink]="['/home']">here</a> to go back to the home page.
        </div>
          <div class="sectiontext12">
          <a [routerLink]="['/home']">thespicychicken</a> hates plagiarism.
          </div>
    </div>
  </div>
  </section>

  <section id="section04" class="footer">
  © &nbsp;2017 &nbsp;Developed by Anubhav Saxena&nbsp;&nbsp;
  |&nbsp;&nbsp; Using <a href="https://angular.io" target="_blank">
    <img src="assets/imgs/angular2.png" id="footerimg"></a>
  </section>
