<section id="section02">
  <div class="container">
      <div class="sectionheader">Epione</div>
    <div class="row sectionsplitter">
      <div class="col-md-6 img">
        <img src="assets/imgs/epionemobiles.png" class="imagediv">
      </div>
      <div class="col-md-6 textanim">
        <div class="sectiontext">
          Revolutionizing health.
        </div>
        <div class="sectiontext8">
          An iOS and Android health application
          </div>
        <div class="sectiontext2">
          Getting prescriptions, setting medicine reminders, and
          ordering medicines, and much more.
        </div>
        <div class="sectiontext7">
          <div><img class="storelogo" src="assets/imgs/appstore.png"></div>
          <div><img class="storelogo" src="assets/imgs/playstore.png"></div>
          Coming soon
        </div>
      </div>
    </div>
  </div>

  <hr class="style13">
    <section id="section03" style="background-color: #ffffff;">
  <div class="container">
      <div class="sectionheader2">Health. Consolidated.</div>
        <img src="assets/imgs/applogo.png" class="applogo"/>
    <div class="abouts"><div class="row descriptionheader1">
      Prescriptions
    </div>
    <div class="descriptiontext1">
      With Epione's prescriptions, it only takes two taps to receive your prescriptions.
      Simply tap, and scan the QR code
    </div></div>
    <div class="row downloader2">
    <a [routerLink]="['/resume']"><div class="btn btn-success button">Download PDF</div></a>
    <a [routerLink]="['/resume']"><div class="btn btn-primary">Download Word</div></a>
    </div>
  </div>
  <section>


  <section id="section04" class="footer">
	© &nbsp;2017 &nbsp;Developed by Anubhav Saxena&nbsp;&nbsp;
  |&nbsp;&nbsp; Using <a href="https://angular.io" target="_blank">
    <img src="assets/imgs/angular2.png" id="footerimg"></a>
</section>
