<section id="section02">
  <div class="container">
      <div class="sectionheader">Epione</div>
    <div class="row sectionsplitter">
      <div class="col-md-6 img">
        <img src="assets/imgs/epionemobiles.png" class="imagediv">
      </div>
      <div class="col-md-6 textanim">
        <div class="sectiontext">
          Revolutionizing health.
        </div>
        <div class="sectiontext8">
          An iOS and Android health application
          </div>
        <div class="sectiontext2">
          Getting prescriptions, setting medicine reminders, and
          ordering medicines was never this easy.
        </div>
        <div class="sectiontext7">
          <div><img class="storelogo" src="assets/imgs/appstore.png"></div>
          <div><img class="storelogo" src="assets/imgs/playstore.png"></div>
        </div>
      </div>
    </div>
  </div>

  <section id="section04" class="footer">
	©&nbsp;&nbsp;Anubhav Saxena &nbsp;2017 &nbsp;&nbsp;|
  &nbsp;&nbsp;Written in <a href="https://angular.io" target="_blank">
    <img src="assets/imgs/angular2.png" id="footerimg"></a>
</section>
