<section id="section02">
  <div class="container">
      <div class="sectionheader">Epione</div>
    <div class="row sectionsplitter">
      <div class="col-md-6 img">
        <img src="assets/imgs/epionemobiles.png" class="imagediv">
      </div>
      <div class="col-md-6 textanim">
        <div class="sectiontext">
          Revolutionizing health.
        </div>
        <div class="sectiontext8">
          An iOS and Android health application
          </div>
        <div class="sectiontext2">
          Get prescriptions, set auto medicine reminders, and
          order medicines, and much more.
        </div>
        <div class="sectiontext7">
          <div><img class="storelogo" src="assets/imgs/appstore.png"></div>
          <div><img class="storelogo" src="assets/imgs/playstore.png"></div>
          <font color="red">Coming soon</font>
        </div>
      </div>
    </div>
  </div>

  <section id="section04" class="footer">
	© &nbsp;2017 &nbsp;Developed by Anubhav Saxena&nbsp;&nbsp;
  |&nbsp;&nbsp; Using <a href="https://angular.io" target="_blank">
    <img src="assets/imgs/angular2.png" id="footerimg"></a>
</section>
