<section id="section01" class="scroller">
  <a>Anubhav&nbsp;Saxena<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/home</a>

	<div class="sectionabout"><span></span><a>About</a></div>
</section>

<section id="section02">
  <div class="container">
      <div class="sectionheader">About</div>
    <div class="row sectionsplitter">
      <div class="col-md-6 test">
        <img src="assets/imgs/propic.jpg" class="imagediv">
      </div>
      <div class="col-md-6">
        <div class="sectiontext">
          Anubhav Saxena
        </div>
        <div class="sectiontext8">
          Computer Scientist and Entrepreneur
          </div>
        <div class="sectiontext2">
          Also a Guitarist, Singer, Beatboxer,
          <a href="http://soundcloud.com/thespicychicken" target="_blank">DJ</a>,
          <a href="http://soundcloud.com/thespicychicken" target="_blank">EDM Producer</a>,
           Pianist, <a href="#">Writer</a>, Footballer, Swimmer,
          <a href="http://purduewebdev.club" target="_blank">Designer</a>, Major League Gamer, Speedcuber,
          <a href="https://www.youtube.com/channel/UCWrMbqgmAk_v0R3EXGl4dhw" target="_blank">YouTuber</a>,
           <a href="https://photos.app.goo.gl/d3myIAxYdhGKEC5g1" target="_blank">Photographer</a>
             , Astronomer, and
          <a [routerLink]="['/projects']">Programmer</a>.
        </div>
        <div class="sectiontext10">
          <a href="http://github.com/xhpwn" target="_blank">
          <img src="assets/imgs/github.png" class="soclogos"></a>
          <a href="https://www.youtube.com/channel/UCWrMbqgmAk_v0R3EXGl4dhw" target="_blank">
          <img src="assets/imgs/youtube.png" class="soclogos"></a>
          <a href="http://soundcloud.com/thespicychicken" target="_blank">
          <img src="assets/imgs/soundcloud.png" class="soclogos"></a>
          <a href="mailto:saxena20@purdue.edu">
          <img src="assets/imgs/email.png" class="soclogos"></a>
        </div>
        <div class="sectiontext7">
          <a href="http://linkedin.com" target="_blank">
          <img src="assets/imgs/linkedin.png" class="soclogos"></a>
          <a href="http://instagram.com" target="_blank">
          <img src="assets/imgs/instagram.png" class="soclogos"></a>
          <a href="https://www.facebook.com/anubhav.saxena.716?lst=1209273048%3A1209273048%3A1492353267" target="_blank">
          <img src="assets/imgs/facebook.png" class="soclogos"></a>
        </div>
      </div>
    </div>
  </div>
  </section>
  <hr class="style13">
    <section id="section03" style="background-color: #f0f0f0;">
  <div class="container">
      <div class="sectionheader">Resume</div>
    <div class="row downloader">
      Here are versions of my resume available to view and download -
    </div>
    <div class="row downloader2">
    <a [routerLink]="['/resume']"><div class="btn btn-success button">Download PDF</div></a>
    <a [routerLink]="['/resume']"><div class="btn btn-primary">Download Word</div></a>
    </div>
  </div>
<section>

  <section id="section04" class="footer">
	© &nbsp;2017 &nbsp;Developed by Anubhav Saxena&nbsp;&nbsp;
  |&nbsp;&nbsp; Using <a href="https://angular.io" target="_blank">
    <img src="assets/imgs/angular2.png" id="footerimg"></a>
</section>
